Package: com.hombergerkurde.quicktranslate
Name: QuickTranslate
Version: 2.1.0
Architecture: iphoneos-arm64
Description: Systemweite Übersetzung - Text markieren und übersetzen in allen Apps
Maintainer: hombergerkurde
Author: hombergerkurde
Section: Tweaks
Depends: firmware (>= 15.0)
